name: Release

# Controls when the action will run. 
on:
  push:
    tags:
    - '*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      
      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version: '^1.24.0'

      # Runs a set of commands using the runners shell
      - name: Build the binary
        run: |
          VERSION=${{ github.ref_name }} ./build.sh

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "bin/*"
          token: ${{ secrets.GITHUB_TOKEN }}
